<%- include("Header") -%>
<div class="education">
    <h1>Education</h1>
    <hr />
    <div class="education-item">
      <h2>The Complete 2023 Web Development Bootcamp</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: Angela Yu</p>
          <p>Date Received: 8/6/2023</p>
          <p>Course Length: 66 Hours</p>
          <a href="https://www.udemy.com/certificate/UC-0e751b43-2d8e-4193-ae04-a0e22534f44d/">Certificate Here</a>

        </div>
        <img src="images/web_development_education.jpg"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>

    <div class="education-item">
      <h2>React - The Complete Guide (incl Hooks, React Router, Redux)</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: Maximillan Schwarzmuller</p>
          <p>Date Received: 7/31/2022</p>
          <p>Course Length: 48.5 Hours</p>
          <a href="https://www.udemy.com/certificate/UC-9c50be03-ff9b-4ba9-bfc8-2d84ec5f42b2/">Certificate Here</a>

        </div>
        <img src="images/react_certificate.jpg"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>

    <div class="education-item">
      <h2>Python for Computer Vision with OpenCV and Deep Learning</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: Jose Portilla</p>
          <p>Date Received: 1/1/24</p>
          <p>Course Length: 14 Hours</p>
          <a href="https://www.udemy.com/certificate/UC-a48d9513-bd43-4f6a-9e50-bbe60e242d9e/">Certificate Here</a>

        </div>
        <img src="images/opencv_certificate.jpg"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>

    <div class="education-item">
      <h2>Python for Data Science and Machine Learning Bootcamp</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: Jose Portilla</p>
          <p>Date Received: 2/26/22</p>
          <p>Course Length: 25 Hours</p>
          <a href="https://www.udemy.com/certificate/UC-ddb39108-96ff-4f1f-ba8a-64d6e3a015cd/">Certificate Here</a>

        </div>
        <img src="images/python_ai_ml_certificate.jpg"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>

    <div class="education-item">
      <h2>2021 Complete Python Bootcamp From Zero to Hero in Python</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: Jose Portilla</p>
          <p>Date Received: 8/1/2021</p>
          <p>Course Length: 22 Hours</p>
          <a href="https://www.udemy.com/certificate/UC-a69825e2-d2b4-454c-8412-db7beb8f8951/">Certificate Here</a>

        </div>
        <img src="images/python_certificate_bootcamp.jpg"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>

    <div class="education-item">
      <h2>PCAP - Certified Associate in Python Programming</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: OpenEDG</p>
          <p>Date Received: 5/21/2024</p>
          <a href="https://verify.openedg.org/?id=ize1.PKAr.UmBT">Certificate Here</a>

        </div>
        <img src="images/pcap_certificate.png"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>

    <div class="education-item">
      <h2>PCEP - Certified Entry-Level Python Programmer</h2>
      <div class="education-information">
        <div class="inner">
          <p>Instructor: OpenEDG</p>
          <p>Date Received: 5/25/2022</p>
          <a href="https://verify.openedg.org/?id=qLiM.FeDe.RNtc">Certificate Here</a>

        </div>
        <img src="images/openedg_entry_certificate.png"/>
      </div>
      <p>
        Completed the highest-rated 66-hour web development bootcamp on Udemy covering frontend,
        fullstack, software engineering, and backend engineering skills.
        </p>
        <p>
          Mastered modern web development technologies, including React.js, Node.js, Express, and
          various libraries to build dynamic and responsive web applications.
          </p>
          <p>
            Completed a series of challenging capstone projects, including a responsive to-do-list, a blog
            website, a chess game, a Simon Says game, and a wallet managing system for Web 3 Apps
            </p>
    </div>
</div>

<%- include("Footer") -%>
