<%- include("Header") -%>
<div class="projects">
  <h1 id="project-h1">Projects</h1>
  <div class="project-item">
      <h1>AI Sign Language Machine Learning Model</h1>
      <img src="images/thumbnail_sign_language_model.png" />
      <img style="width: 41.5%" src="images/ai-sign-language-website.jpg" />

      <p>
        This ASL recognition model empowers real-time communication by translating signed gestures into written English. It bridges the gap between deaf and hearing communities, promoting inclusivity in everyday interactions.

        I'm reaching out to the National Association of the Deaf (NAD) and other sign language organizations (like ASL) to share this model and explore how our model can be integrated into existing resources.
      </p>
      <p>This project was built with Tensorflow and achieves a 90% accuracy.</p>
      <a href="https://sign-language-demo-website.onrender.com/home"><i class="fa-solid fa-computer"></i> Demo/Instructions here</a>
      <a href="https://github.com/Tacobellcommercial/sign-language-machine-learning-model"><i class="fa-brands fa-github"></i> Github Link</a>
      <div class="skills-tags">
        <button type="button" class="btn btn-lg btn-dark" disabled>Python</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Tensorflow</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Express.js</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>OpenCV/Computer Vision</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Mediapipe</button>

      </div>
  </div>
  <div class="project-item">
      <h1>Mock Twitter Web App</h1>
      <img style="width: 45%" src="images/twitto-thumbnail.png" class="single-image" alt="twitto"/>
      <p>
        A mock twitter web application I built and named "Twitto". Uses Node for the backend, EJS for the frontend, and Mongodb as a database. Theres a functioning page system, tweeting system, log in, encryption and sign up system, and is fully mobile responsive.
      </p>
      <a href="https://twitto.onrender.com/home"><i class="fa-solid fa-computer"></i> Website here</a>
      <a href="https://github.com/Tacobellcommercial/twitto"><i class="fa-brands fa-github"></i> Github Link</a>
      <div class="skills-tags">
        <button type="button" class="btn btn-lg btn-dark" disabled>Node.js</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>EJS</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Flexbox/CSS</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>MongoDB</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Passport.js</button>

      </div>

  </div>

  <div class="project-item">
      <h1>House Price Machine Learning Model</h1>
      <img src="images/housing_regression1.png" />
      <img src="images/housing_regression2.png" />
      <p>
        Developed a regression machine learning model for predicting housing prices ranged to a million utilizing Tensorflow, Numpy, Matplotlib and Scikit-learn on the popular Kaggle housing price dataset. The model is hosted on Github in case you want to have for your own use.
      </p>
      <a href="https://github.com/Tacobellcommercial/house_price_prediction_model"><i class="fa-brands fa-github"></i> Github Link</a>

      <div class="skills-tags">
        <button type="button" class="btn btn-lg btn-dark" disabled>Python</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Tensorflow</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Numpy/Sci-kit Learn</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Pandas</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Matplotlib</button>
      </div>
  </div>

  <div class="project-item">
      <h1>React Weather Web App</h1>
      <img style="width: 45%" src="images/react-weather.jpg" class="single-image"/>
      <p>
        This project features an up to date modern React router, along with a Node.js backend to process requests to the open weather api.
      </p>
      <a href="https://react-weather-pn66.onrender.com/home"><i class="fa-solid fa-computer"></i> Website here</a>
      <a href="https://github.com/Tacobellcommercial/react-weather-backend"><i class="fa-brands fa-github"></i> Github Link</a>
      <div class="skills-tags">
        <button type="button" class="btn btn-lg btn-dark" disabled>React.js</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Redux</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Flexbox/CSS</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>Express.js</button>
        <button type="button" class="btn btn-lg btn-dark" disabled>React Router</button>
      </div>
  </div>



  <div class="project-item">
      <h1>Dog/Cat Image Machine Learning Classifier</h1>
      <p>
        I developed a robust cat and dog image prediction model using Python, using OpenCV, Tensorflow, Numpy, Convolution Neural Networks, Matplotlib, and Seaborn. Used thousands of images in a CNN to classify dog and cat categories. This is hosted on github if you want to have for your own use.
      </p>
  </div>

  <div class="project-item">
      <h1>Innovation Hub</h1>
      <p>
        orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
      </p>
      <a href="https://innovation-hub.onrender.com/home">Link here</a>
  </div>

  <div class="project-item">
      <h1>Nonprofit Food Website</h1>
      <p>
        I developed an example nonprofit food website called FoodFocusTexas, utilizing Node.js as the frontend and demonstrating my skills in backend/front-end development. Fully mobile responsive and with classy designs.
      </p>
      <a href="https://foodfocustexas.onrender.com/home">Link here</a>
  </div>

</div>

<%- include("Footer") -%>
