<%- include("Header") -%>
<div class="work-experience">
  <h1>Work Experience</h1>
  <div class="work-experience-item">
      <h2>React.js Web Developer Intern</h2>
      <p class="work-info">Company: <a href="https://www.smarttwigs.com/">SmartTwigs</a></p>
      <p class="work-info">Duration: 6/27/2023 - 10/27/2023</p>
      <img src="images/smarttwigs_logo.png" />
      <p>
        Improved the company’s web application by optimizing the navbar with less code and best code
practices, refactoring the code base to TypeScript and adding mobile responsiveness
      </p>
      <p>
        Utilized React.js, HTML, CSS, TypeScript, and Styled Components to create visually appealing and
mobile responsive user interfaces.
      </p>
      <p>
        Collaborated effectively with the frontend team, regularly submitting code to GitHub through pull
requests, showcasing proficiency in Git version control.
      </p>
      <p>
        Leveraged the Context API and Redux to manage state and enhance the website's performance.
      </p>
  </div>

  <div class="work-experience-item">
      <h2>Frontend Web Developer Volunteer</h2>
      <p class="work-info">Company: <a href="https://roboticsforall.net/">Robotics for All</a></p>
      <p class="work-info">Duration: 6/19/2024 - Present</p>
      <img src="images/roboticsforall_logo.png" />
      <p>
        Improved the company’s web application by optimizing the navbar with less code and best code
practices, refactoring the code base to TypeScript and adding mobile responsiveness
      </p>
      <p>
        Utilized React.js, HTML, CSS, TypeScript, and Styled Components to create visually appealing and
mobile responsive user interfaces.
      </p>
      <p>
        Collaborated effectively with the frontend team, regularly submitting code to GitHub through pull
requests, showcasing proficiency in Git version control.
      </p>
      <p>
        Leveraged the Context API and Redux to manage state and enhance the website's performance.
      </p>
  </div>

  <div class="work-experience-item">
      <h2>Web Developer Volunteer</h2>
      <p class="work-info">Company: <a href="https://www.linkedin.com/company/crafts-for-charity/">Crafts For Charity</a></p>
      <p class="work-info">Duration: 1/1/2024 - Present</p>
      <img src="images/craftsforcharity_logo.png" />
      <p>
        Improved the company’s web application by optimizing the navbar with less code and best code
practices, refactoring the code base to TypeScript and adding mobile responsiveness
      </p>
      <p>
        Utilized React.js, HTML, CSS, TypeScript, and Styled Components to create visually appealing and
mobile responsive user interfaces.
      </p>
      <p>
        Collaborated effectively with the frontend team, regularly submitting code to GitHub through pull
requests, showcasing proficiency in Git version control.
      </p>
      <p>
        Leveraged the Context API and Redux to manage state and enhance the website's performance.
      </p>
  </div>
</div>

<%- include("Footer") -%>
